.site-footer__utility {
	&-list {
		@include reset-list();
		margin-bottom:rem(10);
	}
	&-item {
		display: inline-block;
		margin-right: rem(10);
		margin-bottom: 0;
		&::after {
			content: '\2022';
			display: inline-block;
			margin-left: rem(10);
			transform: scale(0.8,0.8);
		}
		&:last-child {
			margin-right: 0;
			&::after { display: none; }
		}
	}
	&-link {
		font-weight: 400;
		font-size: rem(14);
		@include breakpoint($medium) {
			font-size: rem(12);
		}
	}
}