.breadcrumb {
	$block: &;
	margin: 0;
	padding: rem(20) 0 rem(35);

	&.component:before {
		content: 'Breadcrumb' !important;
	}

	> .container {
		max-width: 1128px;
	}

	&__list {
		@include reset-list;
		@extend .visible-lg-inline-block;
	}

	&__item {
		float: left;
		clear: none;
		margin: 0 0 0 rem(5);
		font-size: rem(14);
		font-weight: 600;

		&:after {
			content: '';
			display: inline-block;
			margin: 0 0 rem(3) rem(5);
			width: 2px;
			height: 2px;
			background-color: $text-body;
			border-radius: 50%;
		}

		&:first-child {
			margin: 0;

			&:after {
				margin: 0;
				background-color: transparent;
			}
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}

	&__link {
		display: inline-block;
		font-weight: 400;
	}

	&__icon {
		display: inline-block;
		width: 30px;
		height: 30px;
	}

	&__back-btn {
		@extend .hidden-lg;
		font-size: rem(12);
		text-transform: uppercase;

		#{$block}__icon {
			margin-right: rem(5);
			transform: rotate(-180deg);
		}

		&:hover {
			span {
				text-decoration: underline;
			}
		}

		> * {
			display: inline-block;
			vertical-align: middle;
		}
	}
}