%btn-base {
	display: inline-block;
	background: $button-background;
	color: $button-color;
	border: 1px solid $button-border;
	padding: rem(15) rem(25);
	min-width: 220px;
	line-height: rem(18);
	font-family: $font-button;
	font-size: rem(16);
	font-weight: 600;
	text-decoration: none;
	text-align: center;
    transition: all 300ms ease-in-out;

	@include breakpoint($medium) {
		padding: rem(12) rem(25);
		min-width: 0;
		font-size: rem(14);

		&:hover,
		&:focus:hover {
			color: $button-color-hover;
			background: $button-background-hover;
			text-decoration: none;
			transform: translateY(-10px);
		}
	}
}

.btn {
	@extend %btn-base;

	&--large {
		padding: rem(25) rem(45);

		@include breakpoint($medium) {
			padding: rem(25) rem(45);
		}
	}

}