/*------------------------------------------
 Color Vars
-------------------------------------------*/

$black: #000;
$charcoal: #333;
$dove-gray: #666;
$gray: #909090;
$nobel: #b4b4b4;
$silver: #ccc;
$alto: #dedede;
$white: #fff;

$highlight: #FDF485;


@if $print {
	$text-heading: $black !important;
	$text-body: $black !important;
}

$text-body: $black;
$text-heading: $black;
$text-link: $black;
$text-link-hover: $highlight;

/* BUTTONS */
$button-color: $black;
$button-background: $white;
$button-border: $black;

$button-background-hover: $highlight;
$button-color-hover: $charcoal;

/* LINKS */
$cta-link-color: $black;
$cta-link-border: $black;

/* LISTS */
$ol-list-bullet-color: $dove-gray;
$ul-list-bullet-color: $dove-gray;

/* BLOCKQUOTE */
$blockquote-border: $dove-gray;
$blockquote-decoration-color: $dove-gray;

/* ACCORDION */
$accordion-border-color: $silver;
$accordion-background-color: $black;

/* MEDIA CAROUSEL */
$media-carousel-background: $alto;

/* PHOTO GALLERY */
$photo-gallery-background: $alto;
$photo-gallery-border: $black;

/* SPOTLIGHT */
$spotlight-background: $nobel;

/* DATA TABLE */
$data-table-background: $silver;
$data-table-column-highlight: $alto;

/* TAB ACCORDION */
$tab-content-background: $silver;
$tab-content-border: $black;

/* FOOTER */
$footer-corporate-bkg: $alto;
$footer-border: $silver;
$footer-phone-links: $black;