.col {
    $col: &;
    @include row;
    width: 100%;
    margin-left: $gutter / 2;
    margin-right: $gutter / 2;
    margin-bottom: 1rem;
    @for $m from 1 through 4 {
        @at-root [class*='col-#{$m}'] & {
            width: calc( (100% / #{$m}) - #{$gutter});
        }
        @for $t from 1 through 4 {
            @include breakpoint($small) {
                @at-root [class*='col-#{$m}-#{$t}'] & {
                    width: calc( (100% / #{$t}) - #{$gutter}) !important;
                    &:nth-of-type(#{$t}n + 1) {
                        clear: both;
                    }
                }
            }
            @for $d from 1 through 4 {
                @include breakpoint($medium) {
                    @at-root .col-#{$m}-#{$t}-#{$d} & {
                        width: calc( (100% / #{$d}) - #{$gutter}) !important;
                        &:nth-of-type(#{$t}n + 1) {
                            clear: none;
                        }
                        &:nth-of-type(#{$d}n + 1) {
                            clear: both;
                        }
                    }
                }
            }
        }
    }
}

@for $x from 1 through 12 {
    .col-md-#{$x},
    .col-lg-#{$x} {
        width: calc(100% - #{$gutter}) !important;
    }
}

@include breakpoint($large) {
    @for $x from 1 through 12 {
        .col-md-#{$x},
        .col-lg-#{$x} {
            width: calc(#{100 / (12 / $x)}% - #{$gutter}) !important;
        }
    }
}