/*------------------------------------------
 Inputs
-------------------------------------------*/


%input {
	
	display: block;
	position: relative;
	padding: rem(10) rem(10);
	width: 100%;
	max-width: rem(335);
	font-size: rem(14);
	border-radius: 10px;

	@if $print {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
	}
}

@include input_text_types() {
	@extend %input;
}
