// Scaffolding styles are declared here. e.g containers, grid
// ------------------------------------------------------------------------------


*, *:before, *:after { box-sizing: border-box; }


html {
	font-family: "mobile";

	@include breakpoint($medium) {
		font-family: "tablet";
}

	@include breakpoint($large) {
		font-family: "desktop";
	}
}

@mixin row {
	width: 100%;
	float: left;
	display: block;
}
.row {
	@include row;

	main > & {
		width: 100%;
		float: left;
		display: block;
		padding: 1rem;
	}
}

body {
	position: relative;
	width: 100%;
	font-size: 18px;
	margin: 0;
	padding: 0;
	color: $text-body;
	&.menu-open {
		position: fixed;
		overflow: hidden;
	}
	* {
		-webkit-overflow-scrolling: touch;
	}
}
main {
	@include row;
}
.container {
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 rem(20);

	 @include breakpoint($medium) {
		padding: 0 rem(30);
	}

	 @include breakpoint($large) {
		 padding: 0;
	 }
}