table {
	width: 100%;
	border-collapse: collapse;
	td, th {
		padding: rem(10) rem(20);
		font-size: rem(14);
		text-align: left;
		min-width: 12rem;
		border-left: 1px solid #E6E6EB;
		border-right: 1px solid #E6E6EB;
		border-bottom: 1px solid #E6E6EB;

		@include breakpoint($large) {
			padding: rem(15) rem(20);
			font-size: rem(18);
		}

		&:last-child {
			border-right: none;
		}
	}
	th {
		padding: rem(20) rem(20);
		font-weight: 600;

		@include breakpoint($large) {
			padding: rem(30) rem(20);
			line-height: rem(30);
		}

		&[scope=row] {
			font-weight: 400;
		}
	}
	tr {
		th:first-child,
		td:first-child {
			border-left: none;
		}
	}
	tr:last-child {
		th {
			border-left: none;
			border-bottom: none;
		}
		td {
			border-bottom: none;
		}
	}
	a {
		@extend .cta;
		font-size: rem(14);
		line-height: rem(20);

		@include breakpoint($large) {
			font-size: rem(18);
		line-height: rem(22);
		}
	}
}