@import "fonts";

body {
	font-family: $font-body;
	color: $text-body;
	-webkit-font-smoothing: antialiased;

	b, strong {
		font-weight: 600;
	}
	i, em {
		font-style: italic;
	}
}

@mixin TitleDecoration {
	&:after {
		content: '';
		height: 1px;
		width: 85%;
		min-width: 150px;
		display: block;
		background: currentColor;
		margin: 1rem auto 0;
	}
}

@mixin Link {
	color: $text-link;
	text-decoration: none;
	@include breakpoint($medium) {
		&:hover {
			text-decoration: underline;
		}
	}
}

@mixin LinkCTA {
	@include Link;
	text-transform: uppercase;
	font-size: rem(15px);
	position:relative;

	&:after {
		content: '';
		////@include inline-svg($icon-arrow, $secondary);
		height: 10px;
		width: 10px;
		position: static;
		display: inline-block;
	}
}

.screen-read-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.page-title {
	position: relative;

	&.component:before {
		content: 'Page Title' !important;
	}
}


img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 1rem;

	&.align-full {
		max-width: 100%;
		height: auto;
		margin-bottom: 1rem;
	}
	&.align-left {
		float: left;
		max-width: 50%;
		padding: 1rem;
		padding-left: 0;
	}
	&.align-right {
		float: right;
		max-width: 50%;
		padding: 1rem;
		padding-right: 0;
	}
	&.align-center {
		margin: 0 auto 1rem;
		display: block;
	}
}

.table-container {
	overflow: auto;
	width: 100%;
	position: relative;
	margin: 1.5rem 0;
}
p, ul, ol {
	font-size: rem(16px);
	line-height: rem(26px);
	margin: 0 0 rem(16);

	@at-root .newsroom-detail & {
		font-size: rem(14px);
		line-height: rem(20px);
	}
	@at-root .promo--sidebar & {
		font-size: rem(14px);
		line-height: rem(20px);
	}
}
blockquote {
	border-left: 2px solid $blockquote-border;
	margin: 2rem 1rem;
	padding: 0.5rem 2rem;
	//@include palatinoItalic;
	font-size: rem(24px);
	line-height: rem(30px);
	color: $text-body;
	position: relative;
	clear: both;
	&:before {
		content: "\201C";
		position: absolute;
		top: 0.5rem;
		left: 0.875rem;
		color: $blockquote-decoration-color;
		font-size: rem(32px);
	}
	@include breakpoint($medium) {
		margin: 2rem 1rem 2rem 100px;
		padding: 0.5rem 150px 0.5rem 2rem;
	}
}

ul, ol {
	margin: 0 0 1.5rem;
	padding: 0 0 0 50px;
	list-style-type: none;
	li {
		position: relative;
		margin-bottom: 8px;
		clear: both;
		&:last-child {
			margin-bottom: 0;
		}
	}
	ul, ol {
		margin: 15px 0 1rem;
		padding: 0 0 0 30px;
		list-style-type: none;
	}
}
ul {
	li:before {
		content: '';
		position: absolute;
		top: 9px; left: -1rem;
		width: 6px; height: 6px;
		background: #000;
		border-radius: 100%;
	}
	ul li:before {
		content: '';
		position: absolute;
		top: 9px; left: -1rem;
		width: 5px; height: 5px;
		background: $ul-list-bullet-color;
		border-radius: 100%;
	}
}
ol {
	li {
		counter-increment: step-counter;
		&:before {
			content: counter(step-counter) ".";
			//@include palatinoMedium;
			font-size: rem(18px);
			padding-right: 5px;
			position: absolute;
			left: -1.25rem; top: -1px;
		}
	}
	ol li {
		counter-increment: alpha;
		padding-left: 4px;
		&:before {
			content: counter(alpha, upper-alpha) ".";
			//@include palatinoMedium;
			font-size: rem(18px);
			padding-right: 5px;
			position: absolute;
			left: -1.25rem; top: -1px;
			color: $ol-list-bullet-color;
		}
	}
	ol ol {
		counter-reset: alpha;
		li {
			counter-increment: beta;
			&:before {
				content: counter(beta, lower-alpha) ".";
				//@include palatinoMedium;
				font-size: rem(18px);
				padding-right: 5px;
				position: absolute;
				left: -1.25rem; top: -1px;
			}
		}
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0 0 rem(15);
}

h1, .h1 {
	font-size: rem(36);
	line-height: rem(44);
}
h2, .h2 {
	font-size: rem(30);
	font-weight: 600;
	line-height: rem(36);
}
h3, .h3 {
	font-size: rem(24);
	font-weight: 600;
	line-height: rem(28);
}
.h3--links {
	font-size: rem(30);
	font-weight: 700;
	line-height: rem(40);
}
h4, .h4 {
	font-size: rem(20);
	line-height: rem(30);
}
h5, .h5 {
	font-size: rem(16);
	font-weight: 600;
	line-height: rem(22);
}
h6, .h6 {
	font-size: rem(16);
	line-height: rem(22);
	font-weight: 600;
}
p {
	font-size: rem(16);
	line-height: rem(28);

	&.leadin {
		font-family: $font-serif;
		font-size: rem(20);
		line-height: rem(32);
	}
}

a {
	@include Link;
	font-weight: 600;
	&.cta {
		position: relative;
		font-size: rem(16);
		color: $cta-link-color;
		border-bottom: 1px solid $cta-link-border;

		&--back-to-toc {
			position: absolute;
			top: 40px;
			right: 20px;

			@include breakpoint($medium) {
			top: 50px;
			right: 50px;
			}
		}
	}
	&.btn {
		margin-left: 0;
		margin-right: 0;
		&--block-arrow {
			display: inline-block;
			width: auto;
		}
	}
}

.numbers {
	font-size: rem(40);
	font-weight: 700;
	line-height: rem(60);
}

@include breakpoint($medium) {
	h1, .h1 {
		font-size: rem(50);
		line-height: rem(60);
	}
	h2, .h2 {
		font-size: rem(40);
		line-height: rem(50);
	}
	h3, .h3 {
		font-size: rem(30);
		line-height: rem(40);
	}
	h4, .h4 {
		font-size: rem(24);
		line-height: rem(34);
	}
	h5, .h5 {
		font-size: rem(20);
		line-height: rem(26);
	}
	h6, .h6 {
		font-size: rem(18);
		line-height: rem(24);
	}
	p {
		font-size: rem(20);
		line-height: rem(36);
	}

	.numbers {
		font-size: rem(38);
		line-height: rem(44);
	}

	.table-container {
		&:after {
			display: none;
		}
	}

	a.cta {
		font-size: rem(18);
		box-shadow: 0 -0.2rem 0 rgba($text-link-hover,0) inset;
		transform: translateZ(0);
		transition: 150ms ease;

		&:hover {
			text-decoration: none;
			box-shadow: 0 -1.5rem 0 rgba($text-link-hover,1) inset;
		}
	}
}

@include breakpoint($large) {
	h1, .h1 {
		font-size: rem(58);
		line-height: rem(68);
	}

	h2, .h2 {
		font-size: rem(42);
		line-height: rem(52);
	}

	h3, .h3 {
		font-size: rem(30);
		line-height: rem(40);
	}

	h4, .h4 {
		font-size: rem(24);
		line-height: rem(34);
	}

	h5, .h5 {
		font-size: rem(20);
		line-height: rem(26);
	}

	h6, .h6 {
		font-size: rem(18);
		line-height: rem(24);
	}

	p {
		font-size: rem(20);
		line-height: rem(36);
		&.leadin {
			font-size: rem(24);
			line-height: rem(44);
		}
	}
}