// Helper Settings
// ------------------------------------------------------------------------------

$base: 16; 	// [ rem() ]
$disable-component-names: true;

// Breakpoints
// ------------------------------------------------------------------------------
$breakpoints: (
	small:  320px,  /* Smartphones --------------- */
	medium: 768px,  /* Tablets Portrait ---------- */
	large:  1224px, /* Desktops and laptops ------ */
	xlarge: 1824px  /* Large screens ------------- */
);

$min-medium: map-get($breakpoints, medium);
$min-large: map-get($breakpoints, large);
$min-xlarge: map-get($breakpoints, xlarge);

$max-small: map-get($breakpoints, medium)  - 1px;
$max-medium: map-get($breakpoints, large)  - 1px;
$max-large: map-get($breakpoints, xlarge)  - 1px;


$small: map-get($breakpoints, small);
$medium: $min-medium,'no-query' true;
$large:  $min-large,'no-query' true;
$xlarge:  $min-xlarge,'no-query' true;

$content-width: 980px;
$container-width: 1500px;


// Fonts
// ------------------------------------------------------------------------------

$roboto: 'Roboto', sans-serif;
$palanquin: 'Palanquin', sans-serif;

$font-body: $palanquin;
$font-footer:  $palanquin;
$font-heading:  $roboto;
$font-heading-condensed:  $roboto;
$font-button:  $palanquin;
$font-cta:  $palanquin;
$font-link:  $palanquin;
$font-input:  $palanquin;
$font-callout:  $roboto;

$font-serif: 'Times', serif;

// Globals
// ------------------------------------------------------------------------------

$columns: 12;
$gutter: 2rem;
$nav-height: 3rem;
$border-radius: 4px;