.accordion {
	$block: &;
	padding-bottom: 2rem;
	margin: 0 1rem;

	&__section {
		position: relative;
	}
	&__tab {
		@include Link;
		display: inline-block;
		padding: 1.25rem 2rem 1.25rem 0;
		font-weight: 600;
		width: 100%;
		position: relative;
		border-bottom: 1px solid $accordion-border-color;
		#{$block}__section:first-of-type & {
			border-top: 1px solid $accordion-border-color;
		}
		&.open {
			&:after {
				content: '\2013';
				line-height: 22px;
			}
		}
		&:after {
			content: '+';
			font-size: rem(24);
			width: 28px;
			height: 28px;
			line-height: 28px;
			background: $accordion-background-color;
			background: linear-gradient($accordion-background-color 0%, darken($accordion-background-color, 5%) 100%);
			color: white;
			border-radius: $border-radius / 2;
			display: block;
			text-align: center;
			position: absolute;
			top: 50%; right: 0;
			transform: translateY(-50%);


			#{$block}__section--no-content & {
				display: none;
			}
		}
	}
	&__content {
		margin: 0;
		padding: 1px 0;
		list-style-type: none;
		display: none;
		border-bottom: 1px solid $accordion-border-color;
	}
}