.data-table {
	$block: &;

	@include breakpoint($medium) {
		padding-bottom: rem(60);
	}

	@include breakpoint($large) {
		padding-bottom: rem(80);
	}

	&__scroll-wrapper {
		position: relative;
		margin: 0 0 rem(60);

		&:after {
			content: '';
			display: block !important;
			position:absolute;
			right:0;
			width: 8%;
			top:0;
			bottom: 18px;
			border: none !important;
			background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(0,0,0,.5) 100%);

			@include breakpoint($large) {
				display: none !important;
			}
		}
	}

	&__scroll {
		overflow-x: scroll;
		max-width: 1110px;

		@include breakpoint($large) {
			overflow-x: auto;
		}
	}

	&__header {
		padding: rem(40);
		text-align: center;
		background-color: $data-table-background;

		h2 {
			margin: 0;
			font-family: $font-serif;
			font-size: rem(24);
			font-weight: 300;
			line-height: rem(44);
			color: #30305B;
		}
	}

	&__current-location {
		background: $data-table-column-highlight;
	}

	&__description,
	&__phone-number {
		margin: 0 0 rem(20);
		font-size: rem(18);
		text-align: center;
	}

	&__phone-number {
		margin: 0;
		font-weight: 600;
	}
}