.media-carousel {
    $block: &;
    max-width: 730px; //dev note: remove after dev
    .content-has-sidebar & {
        //dev note: remove after dev
        max-width: none;
    }
    &.component:before {
        content: 'Media Carousel -- Content Width' !important;
    }
    padding: rem(50) 0;
    text-align: center;
    @include breakpoint($medium) {
        @at-root .previews:not(.mobile) & {
            padding: rem(60) 0;
        }
    }
    @include breakpoint($large) {
        @at-root .previews:not(.mobile):not(.tablet) & {
            padding: rem(80) 0;
        }
    }
    &__image {
        img {
            margin: 0;
            width: 100%;
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    width: auto;
                }
            }
        }
    }
    &__title {
        margin: 0 0 rem(25);
        @include breakpoint($medium) {
            @at-root .previews:not(.mobile) & {
                margin: 0 0 rem(15);
            }
        }
    }
    &__subtitle {
        @extend p.leadin;
        margin-bottom: rem(45);
    }
    &__slides {
        @include reset-list;
        margin: 0 0 rem(15);
    }
    &__slide {
        clear: none;
        margin: 0;
    }
    &__caption {
        position: relative;
        margin: 0 auto;
        padding: rem(30) rem(20);
        text-align: left;
        background-color: $media-carousel-background;
        z-index: 2;
        @include breakpoint($medium) {
            @at-root .previews:not(.mobile) & {
                margin-top: -11.5%;
                width: 87.5%;
            }
        }
        &-title {
            @extend .h4;
        }
        &-subtitle {
            margin: 0 0 rem(30);
        }
        &-related {
            &-image {
                display: inline-block !important;
            }
            &-content {
                display: inline-block;
                padding: 0 0 0 rem(15);
                vertical-align: top;
            }
            &-name {
                margin: 0 0 rem(15);
            }
        }
        &,
        p {
            font-size: rem(16);
            line-height: rem(32);
            @include breakpoint($medium) {
                @at-root .previews:not(.mobile) & {
                    line-height: rem(30);
                }
            }
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    font-size: rem(18);
                    line-height: rem(30);
                }
            }
        }
    }
    &__nav {
        text-align: center;
    }
    &__nav-btn {
        cursor: pointer;
        display: inline-block;
        background: transparent;
        border: none;
        svg {
            width: 40px;
            height: 40px;
            vertical-align: top;
        }
        &--prev {
            transform: rotate(180deg);
        }
        &.slick-disabled {
            cursor: default;
            opacity: 0.3;
        }
    }
    &__additional-text {
        margin-top: rem(40);
    }
    &--full-width {
        max-width: 100%;
        &.component:before {
            content: 'Media Carousel -- Full Width' !important;
        }
        #{$block}__image {
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    grid-column: 2 / 4;
                    grid-row: 1 / span 2;
                    width: auto;
                }
            }
        }
        #{$block}__content {
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    display: grid;
                    grid-template-columns: 0.82fr 2fr 2fr;
                    grid-template-rows: 2fr 1.35fr .5fr;
                    .no-cssgrid & {
                        position: relative;
                    }
                }
            }
        }
        #{$block}__caption {
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    grid-column: 1 / 3;
                    grid-row: 2 / span 3;
                    margin: 0;
                    width: 400px;
                }
            }
        }
        #{$block}__nav {
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    text-align: right;
                }
            }
        }
    }
}