.news-detail {
	padding-bottom: rem(50);
	max-width: 730px; //dev note: remove after dev

	@include breakpoint($medium) {
		padding-bottom: rem(60);
	}

	@include breakpoint($large) {
		padding-bottom: rem(80);
	}

	.content-has-sidebar & { //dev note: remove after dev
		max-width: none;
	}

	&.component:before {
		content: 'News Detail' !important;
	}

	&__category {
		@extend %category-tag;
		margin: 0 0 rem(5);
	}

	&__date {
		margin: 0 0 rem(30);
		font-size: rem(14);
		font-weight: 700;
		line-height: rem(18);
	}

	&__images {
		.photo-gallery {
			padding-top: 0;
		}
	}
}