.photo-gallery {
    $block: &;
    max-width: 730px; //dev note: remove after dev
    .content-has-sidebar & {
        //dev note: remove after dev
        max-width: none;
    }
    &.component:before {
        content: 'Photo Gallery' !important;
    }
    padding: rem(50) 0;
    text-align: center;
    @include breakpoint($medium) {
        @at-root .previews:not(.mobile) & {
            padding: rem(60) 0;
        }
    }
    @include breakpoint($large) {
        @at-root .previews:not(.mobile):not(.tablet) & {
            padding: rem(80) 0;
        }
    }
    &__image {
        img {
            margin: 0;
            width: 100%;
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    width: auto;
                }
            }
        }
    }
    &__slides {
        @include reset-list;
        margin: 0 0 rem(15);
    }
    &__slide {
        clear: none;
        margin: 0;
    }
    &__caption {
        position: relative;
        margin: 0 auto;
        padding: rem(30) rem(20);
        text-align: left;
        background-color: $photo-gallery-background;
        border-bottom: 2px solid $photo-gallery-border;
        @include breakpoint($medium) {
            @at-root .previews:not(.mobile) & {
                margin-top: -11.5%;
                width: 87.5%;
            }
        }
        &-title {
            @extend .h4;
        }
        &,
        p {
            font-size: rem(16);
            line-height: rem(32);
            @include breakpoint($medium) {
                @at-root .previews:not(.mobile) & {
                    line-height: rem(30);
                }
            }
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    font-size: rem(18);
                    line-height: rem(30);
                }
            }
        }
    }
    &__nav {
        position: relative;
        z-index: 3;
        text-align: center;
    }
    &__nav-btn {
        cursor: pointer;
        display: inline-block;
        padding: 0 rem(25);
        background: transparent;
        border: none;
        svg {
            width: 40px;
            height: 40px;
            vertical-align: top;
        }
        &--prev {
            transform: rotate(180deg);
        }
        &.slick-disabled {
            cursor: default;
            opacity: 0.3;
        }
    }
    &__counter {
        margin: -4% 0 0;
        position: relative;
    }
    &__additional-text {
        margin-top: rem(40);
    }
}