.promo-cards {
	padding: rem(40) 0;
	text-align: center;
	// background: transparent image('bg-promo-cards-default.png') repeat center center;
	

	@include breakpoint($medium) {
		padding: rem(60) 0;
	}

	@include breakpoint($large) {
		padding: rem(80) 0;
	}

	&__title {
		margin: 0 0 rem(15);
	}

	&__subtitle {
		margin-bottom: rem(45);
	}

	&--two-column-stacking {
		background: transparent;
	}

	&--vertical-stacking {
		background: transparent;

		@include breakpoint($medium) {
			padding: rem(40) 0;
		}
	}
}