.promo-card {
	$block: &;

	position: relative;

	&__list {
		@include reset-list;

		@include breakpoint($medium) {
			@at-root .previews:not(.mobile) & {
				display: flex;
				justify-content: space-between;
			}
		}
	}

	&__item {
		position: relative;
		margin: 0 0 rem(20);
		text-align: left;
		background: $white;
		transition: all 300ms ease-in-out;
		transform: translateY(0);

		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background: transparent;
		}

		&:focus-within,
		&:hover {
			@include breakpoint($large) {
				@at-root .previews:not(.mobile):not(.tablet) & {
					transform: translateY(-3%);

					&:after {
						background: $highlight;
					}
				}
				
			}
		}
	}

	&__image {
		img {
			margin: 0;
			width: 100%;
		}
	}

	&__text {
		padding: rem(30) rem(20);
	}

	&__tag {
		@extend %category-tag;
		margin: 0 0 rem(5);
	}

	&__title {
		@extend .h4;
		margin: 0 0 rem(5);
		color: $text-link;
	}

	&__cta {
		display: inline-block;
		font-size: rem(16);
		color: $black;
		border-bottom: 1px solid $black;

		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}

		&:hover {
			text-decoration: none;
		}

		@include breakpoint($medium) {
			@at-root .previews:not(.mobile) & {
				font-size: rem(18);
			}
		}
	}

	&__additional-text {
		margin-top: rem(40);
	}

	&s--horizontal {

		&.component:before {
			content: 'Promo Card -- Horizontal Stacking' !important;
		}

		#{$block}__list {
			@include breakpoint($medium) {
				@at-root .previews:not(.mobile) & {
					margin: 0 rem(-15);
				}
			}
		}

		#{$block}__item {
			@include breakpoint($medium) {
				@at-root .previews:not(.mobile) & {
					flex: 1 0 20%;
					margin: 0 rem(15);
				}
			}
		}
	}

	&s--two-column-stacking {

		&.component:before {
			content: 'Promo Card -- Two Column Stacking' !important;
		}

		#{$block}__list {
			flex-flow: row wrap;
		}

		#{$block}__item {
			border: 1px solid $black;
			width: 100%;

			@include breakpoint($medium) {
				@at-root .previews:not(.mobile) & {
					flex: 0 0 48%;
					margin: 0 0 rem(25);
					min-width: 0;
				}
			}
		}

		#{$block}__title {
			@extend .h5;
			margin: 0 0 rem(15);
			color: $text-link;
		}

		#{$block}__blurb {
			margin: 0 0 rem(10);
		}
	}

	&s--vertical-stacking {

		&.component:before {
			content: 'Promo Card -- Vertical Stacking' !important;
		}

		#{$block}__list {
			display: block;
		}
	}

}