.spotlight {
    $block: &;
    padding: rem(50) 0;
    text-align: center;
    background: $spotlight-background;
    &.component:before {
        content: 'Spotlight -- Icon Text' !important;
    }
    @include breakpoint($medium) {
        @at-root .previews:not(.mobile) & {
            padding: rem(60) 0;
        }
    }
    @include breakpoint($large) {
        @at-root .previews:not(.mobile):not(.tablet) & {
            padding: rem(80) 0;
        }
    }
    &__icon {
        display: inline-block;
        margin: 0 auto rem(25);
        width: 58px;
        height: auto;
        img {
            margin: 0;
        }
    }
    &__title {
        margin: 0 0 rem(25);
        @include breakpoint($medium) {
            @at-root .previews:not(.mobile) & {
                margin: 0 0 rem(15);
            }
        }
    }
    &__description {
        margin: 0 auto;
        max-width: 730px;
        &,
        p {
            font-size: rem(16);
            line-height: rem(32);
            @include breakpoint($medium) {
                @at-root .previews:not(.mobile) & {
                    line-height: rem(30);
                }
            }
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    font-size: rem(18);
                    line-height: rem(30);
                }
            }
        }
    }
    &--icon-text {
        background: transparent;
        >.container {
            padding-top: rem(50);
            padding-bottom: rem(50);
            background: $spotlight-background;
            @include breakpoint($medium) {
                @at-root .previews:not(.mobile) & {
                    padding-top: rem(60);
                    padding-bottom: rem(60);
                }
            }
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    padding-top: rem(80);
                    padding-bottom: rem(80);
                }
            }
        }
    }
    &--image-left-full-width {
        background: transparent;
        &.component:before {
            content: 'Spotlight -- Image Left Full Width' !important;
        }
        #{$block}__image {
            img {
                margin: 0;
                width: 100%;
                @include breakpoint($large) {
                    @at-root .previews:not(.mobile):not(.tablet) & {
                        width: auto;
                    }
                }
            }
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    grid-column: 1 / 4;
                    grid-row: 1 / span 3;
                    width: auto;
                }
            }
        }
        #{$block}__content {
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    display: grid;
                    grid-template-columns: 1fr 2fr 2.05fr;
                    .no-cssgrid & {
                        position: relative;
                    }
                }
            }
        }
        #{$block}__text {
            position: relative;
            padding: rem(30) 0;
            text-align: left;
            background: $spotlight-background;
            @include breakpoint($medium) {
                @at-root .previews:not(.mobile) & {
                    margin: -11% auto 0;
                    width: 87.5%;
                }
            }
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    grid-column: 3 / 4;
                    grid-row: 2;
                    margin: 0;
                    padding: rem(35) rem(60);
                    width: auto;
                    max-width: 446px;
                    .no-cssgrid & {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                }
            }
        }
        #{$block}__title {
            margin: 0 0 rem(10);
            @include breakpoint($medium) {
                @at-root .previews:not(.mobile) & {
                    margin: 0 0 rem(25);
                }
            }
        }
    }
    &--image-left-content-width {
        @extend #{$block}--image-left-full-width;
        max-width: 730px; //dev note: remove after dev
        .content-has-sidebar & {
            //dev note: remove after dev
            max-width: none;
        }
        &.component:before {
            content: 'Spotlight -- Image Left Content Width' !important;
        }
        #{$block}__content {
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    grid-template-columns: 2fr;
                }
            }
        }
        #{$block}__text {
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    padding: rem(35) rem(25);
                    max-width: 290px;
                }
            }
        }
        #{$block}__description {
            &,
            p {
                @include breakpoint($large) {
                    @at-root .previews:not(.mobile):not(.tablet) & {
                        font-size: rem(16);
                        line-height: rem(26);
                    }
                }
            }
        }
    }
    &--image-right-content-width {
        @extend #{$block}--image-left-content-width;
        &.component:before {
            content: 'Spotlight -- Image Right Content Width' !important;
        }
        #{$block}__content {
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    grid-template-columns: 2fr;
                }
            }
        }
        #{$block}__image {
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    grid-column: 2 / 4;
                }
            }
        }
        #{$block}__text {
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    grid-column: 1 / 3;
                }
            }
        }
    }
    &--image-right-full-width {
        @extend #{$block}--image-left-full-width;
        &.component:before {
            content: 'Spotlight -- Image Right Full Width' !important;
        }
        #{$block}__content {
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    grid-template-columns: 2.05fr 2fr 2fr;
                }
            }
        }
        #{$block}__image {
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    grid-column: 2 / 4;
                }
            }
        }
        #{$block}__text {
            @include breakpoint($large) {
                @at-root .previews:not(.mobile):not(.tablet) & {
                    grid-column: 1 / 3;
                }
            }
        }
    }
}