.tab-content {
	padding: rem(40) 0 rem(30);
	background: $tab-content-background;

	> .container {
		max-width: 730px;
	}

	@include breakpoint($medium) {
		padding: rem(60) 0 rem(50);
	}

	@include breakpoint($large) {
		padding: rem(80) 0;
	}

	&__description {
		margin: 0 0 rem(50);
	}

	&__section {
		margin: 0 0 rem(40);

		&-title {
			margin: 0 0 rem(20);
		}

		&-buttons {
			@include reset-list;

			@include breakpoint($medium) {
				column-count: 2;
			}

			a {
				display: block;
				margin-bottom: rem(20);

				@include breakpoint($medium) {
					display: inline-block;
				}
			}
		}
	}
}

.tab-accordion {
	margin: rem(50) 0 0;
}

// Tabs View
.tabs-view {
	.nav-list {
		@include reset-list;

		padding: 3px 0px 0px;
		margin: 0px;

		li {
			display: inline-block;
			margin: 0;

			&:before {
				display: none;
			}
		}

		 > li > a {
			display: inline-block;
			padding: rem(15) rem(20);
			border: 1px solid $tab-content-border;
			border-bottom: none;
			text-decoration: none;
		}

		.active a {
			background: white;
			border: 1px solid white;
		}
	}

	.panel {
		display: none;
		padding: rem(50) rem(30);
		text-align: left;
		background: $white;

		&.current {
			display: block !important;
		}
	}
}

.nav-item {
	&__icon {
		position: absolute;
		right: 15px;
		top: 15px;
		display: inline-block;
		width: 30px;
		height: 30px;
		background: $white;
		border-radius: 50%;

		@include breakpoint($large) {
			display: none;
		}

		&:before {
			content: "";
			position: absolute;
			top: 14px;
			right: 8px;
			width: 14px;
			height: 2px;
		//	background: $linktext;
			border-radius: 1px;
		}

		&:after {
			position: absolute;
			content: "";
			top: 8px;
			right: 14px;
			width: 2px;
			height: 14px;
			//background: $linktext;
			border-radius: 1px;
			transition: opacity 300ms ease;

			.active & {
				opacity: 0;
				transition: opacity 300ms ease;
			}
		}
	}
}

// Accordion view
.accordion-view {
	.nav-list {
		@include reset-list;
		padding: 3px 0px;

		li {
			display: block;
			margin: 0 auto rem(10);
			padding: 0;
			position: relative;

			&:before {
				display: none;
			}

			&:last-child {
				margin: 0;
			}
		}

		 > li > a {
			font-size: rem(16);
			font-weight: 600;
			line-height: rem(22);
			padding: rem(20) rem(15);
			border: 1px solid $tab-content-border;
			text-decoration: none;
			display: inline-block;
			width: 100%;
		}
		.active a {
				border-bottom: none;
		}
	}

	#panels {
		display: none;
	}

	.panel {
		display: none;
		width: 100%;
		border: 1px solid $tab-content-border;
		border-top: none;
		padding: 10px;

		&.current {
			display: block;
		}
	}
}

.attributes .md {
	background-color: #eee;
	padding: 4px;
	color: #000;
}