/* TOOLTIP! */

.tooltip {
	transform: translateX(-50%) translateY(-10%);
	opacity: 0;
	visibility: hidden;
	display: block;
	position: absolute;
	top: 140%;
	left: 50%;
	z-index: 1;
	padding: rem(16);
	width: 215px;
	max-height: 285px;
	text-align: left;
	font-size: rem(14);
	line-height: rem(18);
	color: #000;
	background: #fbfaff;
	border: 1px solid #bdbcce;
	transition: all 400ms ease-in-out 0s, visibility 0s linear 400ms;

	&:after, &:before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(251, 250, 255, 0);
		border-bottom-color: #fbfaff;
		border-width: 14px;
		margin-left: -14px;
	}

	&:before {
		border-color: rgba(189, 188, 206, 0);
		border-bottom-color: #bdbcce;
		border-width: 15px;
		margin-left: -15px;
	}

	&__btn {
		cursor: pointer;
		background: transparent;
		border: none;

		svg {
			width: 40px;
			height: 40px;
		}
	}

	&--left {
		left: auto;
		right: 105%;
	}

	&--right {
		right: auto;
		left: 105%;
	}

	&,
	p {
		font-size: rem(16);
		font-weight: 400;
		line-height: rem(24);
	}

	a {
		font-weight: 600;
		text-decoration: underline;
	}

	&-parent {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		max-width: 52px;
	}

	&-parent.visible & {
		opacity: 1;
		visibility: visible;
		transform: translateX(-50%) translateY(0%);
		transition-delay: 0s, 0s, 300ms;
	}

	&[tabindex="-1"]:focus {
		outline: none;
	}
}

@include breakpoint($medium) {
	.tooltip {
		width: 280px;

	&,
	p {
		font-size: rem(18);
		line-height: rem(26);
	}

		&--left,
		&--right {
			width: rem(296);
		}
	}
}

@include breakpoint($large) {
	.tooltip {
		&--left,
		&--right {
			width: rem(400);
		}
	}
}
