div.component {
	position: relative;
	clear: both;

	&:before {
		content:'';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 6;
		padding: 0.25rem;
		font-weight: 600;
		text-align: center;
		color: $text-link;
		background: $highlight;
		border: 1px dashed $text-link;

		@if $disable-component-names {
			display: none;
		}
	}

	&:after {
		content: '';
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		border: 1px dashed $text-link;

		@if $disable-component-names {
			display: none;
		}
	}
}