/*------------------------------------------
 Footer
-------------------------------------------*/

.site-footer {

	@if $print {
		display: none;
	}

	&.component::before { content: 'Hub Footer' !important;}
	
	&__navigation {
		padding: rem(45) 0;

		@include breakpoint($medium) {
			@at-root .previews:not(.mobile) & {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			}
		}
	}
	&__bottom {
		background: $footer-corporate-bkg;
	}
	&__corporate {
		padding: rem(30) rem(0) rem(25);
		text-align: center;
		font-size: rem(14);

		@include breakpoint($medium) {
			@at-root .previews:not(.mobile) & {
			padding: rem(60) rem(40) rem(45);
			font-size: rem(12);
			}
		}
	}

	&__section {
		margin: 0 rem(-20) rem(20);
		padding: 0 rem(20) rem(20);
		
		border-bottom: 1px solid rgba($footer-border, 0.3);

		&--logo {
			border: 0;
			padding: 0;
			margin: 0 0 rem(20);
		}
		&--subpages {
			margin-left: 0; margin-right: 0;
			padding-left: 0; padding-right: 0;

			border-bottom: 1px solid rgba($footer-border, 0.15);
		}
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
		@include breakpoint($medium) {
			@at-root .previews:not(.mobile) & {
			margin: 0;
			padding: 0;
			border: 0;

			flex: 0 1 auto;
			width: 22%;
			order: inherit;

			&--logo {
				flex: 0 1 auto;
				width: 100%;
			}
			}
		}
		
	}

	&__contacts {
		&-list {
			@include reset-list();
		}
		&-item {

		}
		&-number {
			font-weight: 600;
			cursor: default;
		}
		a#{&}-number {
			color: $footer-phone-links;
			cursor: pointer;
		}
		&-label,
		&-number {
			@include breakpoint($medium) {
				@at-root .previews:not(.mobile) & {
				font-size: rem(14);
				}
			}
		}
	}

	&__logos {
		@include breakpoint($medium) {
			@at-root .previews:not(.mobile) & {
			display: flex;
			justify-content: center;
			align-items: center;
			}
		}
	}
	&__corp-logo {
		flex: 0 1 auto;
		width: auto;
		margin: 0 auto rem(20);

		@include breakpoint($medium) {
			@at-root .previews:not(.mobile) & {
			margin: 0 rem(10) rem(35);
			}
		}
	}
}